body {
    background: #f5f5f5;
    font-family: Georgia, Helvetica, Arial, sans-serif;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
    font-style: italic; 
}

::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic; 
}

:-ms-input-placeholder {
    font-style: italic; 
}

.content {
    text-align: center;
    position: relative;
    width: 960px;
    margin: auto;
}

.header {
    font-size: 5em;
    color: rgba(175, 47, 47, 0.15);
}

.new-note {
    margin-top: 20px;
    border: none;
    padding: 16px 16px 16px 60px;
    font-size: 1.8em; 
    width: 480px; 
    box-shadow: 10px 10px 5px #888888;
}

.toggle-all {
    position: relative;
    right: 540px;
}

.toggle-task {
    position: relative;
    right: 540px;
}

.task, .last-task {
    text-align: left;
    padding: 16px 16px 16px 60px;
    display: inline-block;
    width: 480px;
    font-size: 1.8em;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000; 
}

.last-task { 
    box-shadow: 10px 10px 5px #888888;
    border-bottom: 1px solid #000000;
}