body {
    background: #f5f5f5;
    font-family: Georgia, Helvetica, Arial, sans-serif;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
    font-style: italic; 
}

::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic; 
}

:-ms-input-placeholder {
    font-style: italic; 
}

.content {
    text-align: center;
    position: relative;
    width: 960px;
    margin: auto;
}

.header {
    font-size: 5em;
    color: rgba(175, 47, 47, 0.15);
}

.new-note {
    margin-top: 20px;
    border: none;
    padding: 16px 16px 16px 60px;
    font-size: 1.8em; 
    width: 480px; 
}

.delete {
    opacity: 0.5;
    position: relative;
    right: 60px;
    font-size: 1em;
    color: #cc0000;
    background: #ffffff;
    border-style: none;
    border-width: 1px;
    padding: 0px;
}

.delete:hover {
    opacity: 1;
}

.toggle-all {
    position: relative;
    right: 540px;
}

.toggle-task {
    position: relative;
    right: 540px;
}

.task, .first-task {
    word-break: break-word;
    margin-left: 7px;
    background: #ffffff;
    text-align: left;
    padding: 16px 16px 16px 60px;
    display: inline-block;
    width: 480px;
    font-size: 1.8em;
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.first-task { 
    border-top: 1px solid #e4e4e4;
}

.list-footer {
    margin-left: -25px;
    background: #ffffff;
    text-align: left;
    padding: 16px 16px 16px 16px;
    display: inline-block;
    width: 524px;
    font-size: 1em;
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    visibility: hidden;
}

.items-left-counter {

}